
{% extends "base.html" %}

{% block content %}
  <link rel="stylesheet" href="/static/css/index.css">
  <link rel="stylesheet" href="/static/css/dashboard.css">
  <div id="main">
    <h1 style="margin-bottom:20px;">Modify question</h1>
    <form action="" method="post" novalidate>
      <div class="card">
        <div class="header"></div>
        {{ form.hidden_tag() }}
        <p>
            {{ form.title.label }}<br>
            {{ form.title(size=32) }}
            {% for error in form.title.errors %}
            <br><span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        {% if q.type == "SelectField" %}
          <p>
              {{ form.feild1.label }}<br>
              {{ form.feild1() }}
              {% for error in form.feild1.errors %}
              <br><span style="color: red;">[{{ error }}]</span>
              {% endfor %}
          </p>
          <p>
              {{ form.feild2.label }}<br>
              {{ form.feild2() }}
              {% for error in form.feild2.errors %}
              <br><span style="color: red;">[{{ error }}]</span>
              {% endfor %}
          </p>
          <p>
              {{ form.feild3.label }}<br>
              {{ form.feild3() }}
              {% for error in form.feild3.errors %}
              <br><span style="color: red;">[{{ error }}]</span>
              {% endfor %}
          </p>
          <p>
              {{ form.feild4.label }}<br>
              {{ form.feild4() }}
              {% for error in form.feild4.errors %}
              <br><span style="color: red;">[{{ error }}]</span>
              {% endfor %}
          </p>
        {% endif %}
        </div>
      <p>{{ form.submit() }}</p>
      </div>
    </form>
  </div>
{% endblock %}
