<!doctype html>
<html>
    <head>
      <link rel="stylesheet" href="/static/css/base.css">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
      {% if title %}
      <title>{{ title }} - Formsite</title>
      {% else %}
      <title>Welcome to Formsite</title>
      {% endif %}
    </head>
    <body>
        <div id="navbar">
          <span>Formsite</span> 
          <div id="wrapper">
            <a href="/index">Home</a>
            {% if current_user.is_anonymous %}
              <a href="{{ url_for('auth.login') }}">Login</a>
            {% else %}
              <a href="{{ url_for('auth.logout') }}">Logout</a>
              {% if current_user.is_admin() %}
                <a href="{{ url_for('admin.admin') }}">Admin</a>
              {% endif %}
            {% endif %}
          </div>
        </div>

        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <div id="notifcation">
              <h3>Error!</h3>
              {% for message in messages %}
                <p>{{ message }}</p>
              {% endfor %}
              <img src="/static/img/x_icon.svg" alt="close">
            </div>
          {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
