{% extends "base.html" %}

{% block content %}
  <link rel="stylesheet" href="/static/css/index.css">
  <div id="main">
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        {% for q in questions %}
          <div class="card">
            <div class="header"></div>
            <p>
              <h3>{{ q.label }}</h3>
              <br>
              {{ q(maxlength="50", placeholder="Your Answer") }}
            </p>
            
          </div>
        {% endfor %}

        <p>{{ form.submit() }}</p>
    </form>
  </div>
{% endblock %}
