<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/style.css" rel="stylesheet">
  </head>
  <body>
    <h1>Mushroom Characteristics</h1>
    <form action="#" method="post">
        <label for="cap-shape">Cap Shape:</label>
        <select id="cap-shape" name="cap-shape">
            <option value="0">Bell</option>
            <option value="1">Conical</option>
            <option value="5">Convex</option>
            <option value="2">Flat</option>
            <option value="3">Knobbed</option>
            <option value="4">Sunken</option>
        </select><br>

        <label for="cap-surface">Cap Surface:</label>
        <select id="cap-surface" name="cap-surface">
            <option value="0">Fibrous</option>
            <option value="1">Grooves</option>
            <option value="2">Scaly</option>
            <option value="3">Smooth</option>
        </select><br>

        <label for="cap-color">Cap Color:</label>
        <select id="cap-color" name="cap-color">
            <option value="0">Brown</option>
            <option value="1">Buff</option>
            <option value="2">Cinnamon</option>
            <option value="3">Gray</option>
            <option value="4">Green</option>
            <option value="5">Pink</option>
            <option value="6">Purple</option>
            <option value="7">Red</option>
            <option value="8">White</option>
            <option value="9">Yellow</option>
        </select><br>

        <label for="bruises">Bruises:</label>
        <select id="bruises" name="bruises">
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select><br>

        <label for="odor">Odor:</label>
        <select id="odor" name="odor">
            <option value="0">Almond</option>
            <option value="3">Anise</option>
            <option value="2">Creosote</option>
            <option value="8">Fishy</option>
            <option value="2">Foul</option>
            <option value="4">Musty</option>
            <option value="5">None</option>
            <option value="6">Pungent</option>
            <option value="7">Spicy</option>
        </select><br>

        <label for="gill-attachment">Gill Attachment:</label>
        <select id="gill-attachment" name="gill-attachment">
            <option value="0">Attached</option>
            <option value="1">Descending</option>
            <option value="2">Free</option>
            <option value="3">Notched</option>
        </select><br>

        <label for="gill-spacing">Gill Spacing:</label>
        <select id="gill-spacing" name="gill-spacing">
            <option value="0">Close</option>
            <option value="1">Crowded</option>
            <option value="2">Distant</option>
        </select><br>

        <label for="gill-size">Gill Size:</label>
        <select id="gill-size" name="gill-size">
            <option value="0">Broad</option>
            <option value="1">Narrow</option>
        </select><br>

        <label for="gill-color">Gill Color:</label>
        <select id="gill-color" name="gill-color">
            <option value="0">Black</option>
            <option value="1">Brown</option>
            <option value="2">Buff</option>
            <option value="3">Chocolate</option>
            <option value="4">Gray</option>
            <option value="5">Green</option>
            <option value="6">Orange</option>
            <option value="7">Pink</option>
            <option value="8">Purple</option>
            <option value="9">Red</option>
            <option value="10">White</option>
            <option value="11">Yellow</option>
        </select><br>

        <label for="stalk-shape">Stalk Shape:</label>
        <select id="stalk-shape" name="stalk-shape">
            <option value="0">Enlarging</option>
            <option value="1">Tapering</option>
        </select><br>

        <label for="stalk-root">Stalk Root:</label>
        <select id="stalk-root" name="stalk-root">
            <option value="0">Bulbous</option>
            <option value="1">Club</option>
            <option value="2">Cup</option>
            <option value="3">Equal</option>
            <option value="4">Rhizomorphs</option>
            <option value="5">Rooted</option>
            <option value="6">Missing</option>
        </select><br>

        <label for="stalk-surface-above-ring">Stalk Surface Above Ring:</label>
        <select id="stalk-surface-above-ring" name="stalk-surface-above-ring">
            <option value="0">Fibrous</option>
            <option value="1">Scaly</option>
            <option value="2">Silky</option>
            <option value="3">Smooth</option>
        </select><br>

        <label for="stalk-surface-below-ring">Stalk Surface Below Ring:</label>
        <select id="stalk-surface-below-ring" name="stalk-surface-below-ring">
            <option value="0">Fibrous</option>
            <option value="1">Scaly</option>
            <option value="2">Silky</option>
            <option value="3">Smooth</option>
        </select><br>

        <label for="stalk-color-above-ring">Stalk Color Above Ring:</label>
        <select id="stalk-color-above-ring" name="stalk-color-above-ring">
            <option value="0">Brown</option>
            <option value="1">Buff</option>
            <option value="2">Cinnamon</option>
            <option value="3">Gray</option>
            <option value="4">Orange</option>
            <option value="5">Pink</option>
            <option value="6">Red</option>
            <option value="7">White</option>
            <option value="8">Yellow</option>
        </select><br>

        <label for="stalk-color-below-ring">Stalk Color Below Ring:</label>
        <select id="stalk-color-below-ring" name="stalk-color-below-ring">
            <option value="0">Brown</option>
            <option value="1">Buff</option>
            <option value="2">Cinnamon</option>
            <option value="3">Gray</option>
            <option value="4">Orange</option>
            <option value="5">Pink</option>
            <option value="6">Red</option>
            <option value="7">White</option>
            <option value="8">Yellow</option>
        </select><br>

        <label for="veil-type">Veil Type:</label>
        <select id="veil-type" name="veil-type">
            <option value="0">Partial</option>
            <option value="1">Universal</option>
        </select><br>

        <label for="veil-color">Veil Color:</label>
        <select id="veil-color" name="veil-color">
            <option value="0">Brown</option>
            <option value="1">Orange</option>
            <option value="2">White</option>
            <option value="3">Yellow</option>
        </select><br>

        <label for="ring-number">Ring Number:</label>
        <select id="ring-number" name="ring-number">
            <option value="0">None</option>
            <option value="1">One</option>
            <option value="2">Two</option>
        </select><br>

        <label for="ring-type">Ring Type:</label>
        <select id="ring-type" name="ring-type">
            <option value="0">Cobwebby</option>
            <option value="1">Evanescent</option>
            <option value="2">Flaring</option>
            <option value="3">Large</option>
            <option value="4">None</option>
            <option value="5">Pendant</option>
            <option value="6">Sheathing</option>
            <option value="7">Zone</option>
        </select><br>

        <label for="spore-print-color">Spore Print Color:</label>
        <select id="spore-print-color" name="spore-print-color">
            <option value="0">Black</option>
            <option value="1">Brown</option>
            <option value="2">Buff</option>
            <option value="3">Chocolate</option>
            <option value="4">Green</option>
            <option value="5">Orange</option>
            <option value="6">Purple</option>
            <option value="7">White</option>
            <option value="8">Yellow</option>
        </select><br>

        <label for="population">Population:</label>
        <select id="population" name="population">
            <option value="0">Abundant</option>
            <option value="1">Clustered</option>
            <option value="2">Numerous</option>
            <option value="3">Scattered</option>
            <option value="4">Several</option>
            <option value="5">Solitary</option>
        </select><br>

        <label for="habitat">Habitat:</label>
        <select id="habitat" name="habitat">
            <option value="0">Grasses</option>
            <option value="1">Leaves</option>
            <option value="2">Meadows</option>
            <option value="3">Paths</option>
            <option value="4">Urban</option>
            <option value="5">Waste</option>
            <option value="6">Woods</option>
        </select><br>

        <input type="submit" value="Submit">
    </form>

    {% if prediction != None %}
        <p>Prediction: {{ prediction }}</p>
    {% endif %}
  </body>
</html>
