* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

a, u {
  text-decoration: none;
}

/* Navbar style */
#navbar {
  height: 50px;
  width: calc(100% - 200px);
  line-height: 50px;
  padding-right: 100px;
  padding-left: 100px;

  background-color: #202020;

  display: flex;
  justify-content: space-between;

  position: fixed;
  top: 0;

  z-index: 999;
}

#navbar #wrapper {
  display: flex;
  gap: 20px;
}

#navbar * {
  color: #fff;
}

#navbar a:hover {
  color: #ddd;
  cursor: pointer;
}

/* Notifications */
.notifcation {
  position: absolute;
  bottom: 20px;
  right: 20px;
  
  width: 440px;
  height: 100px;

  padding: 30px;

  border-radius: 5px;
  background-color: #fff;
  z-index: 99;

  opacity: 1;
  transition: opacity 0.2s ease;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.info {border-left: 5px solid #36ace8;}
.error {border-left: 5px solid #ee0233;}

.notifcation h3 {
  padding-bottom: 10px;
}

.notifcation img {
  width: 25px;
  height: 25px;

  position: absolute;
  right: 30px;
  top: 30px;

  cursor: pointer;
}

/* Form errors */
.err {
  color: red;
  font-size: 13px;
}

