<!doctype html>
<html>
    <head>
      <link rel="stylesheet" href="/static/css/base.css">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

      {% if title %}
      <title>{{ title }} - The Webshop!</title>
      {% else %}
      <title>Welcome to The Webshop!</title>
      {% endif %}
    </head>
    <body>
        <div id="nav-bar">
          <div id="nav-item1">
            <span>Webshop</span>
          </div>
          <div id="nav-item2">
            <a href="/index">Home</a>
            {% if current_user.is_anonymous %}
              <a href="{{ url_for('auth.login') }}">Login</a>
            {% else %}
              <a href="{{ url_for('main.cart') }}">Cart</a>
              <a href="{{ url_for('auth.logout') }}">Logout</a>
            {% endif %}
          </div>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div id="notification">
          <div id="notification-wrapper">
            <h4>Notification <img src="/static/img/x.png" alt="x" onClick="hide_popup();"></h4>
              {% for message in messages %}
              <p>{{ message }}</p>
            {% endfor %}
          </div>
        </div>
        {% endif %}
        {% endwith %}
        <div id="main">
          {% block content %}{% endblock %}
        </div>
        <script src="/static/js/base.js"></script>
    </body>
</html>
