{% extends "base.html" %}

{% block content %}
  <link rel="stylesheet" href="/static/css/cart.css">
  <form id="submit-cart" action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <div class="space-between" style="gap: 100px;">
      <div style="width: 100%;">
        <h2>CART</h2>
        <table>
          <tbody>
            {% for cart_item, q in items %}
              {% with item = cart_item.get_item() %}
              {% include '_cartItem.html' %} 
              {% endwith %}
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div>
        <div id="summary">
          <h2>SUMMARY</h2>
          <div class="gray">
            <div class="space-between">
              <p>Subtotal</p><span id="tot">{{ total }} DKK</span>
            </div>
            <div style="height: 20px"></div>
            <div class="space-between">
              <p>Estimated Delivery Charge</p><span id="del">{{delivery}} DKK</span>
            </div>
            {% if cupon %}
              <div style="height: 20px"></div>
              <div class="space-between">
                <p>Active cupon code (<span id="proc">{{ cupon.cupon.procent }}</span>%)</p><span id="cpn">- {{ cpn_amt }} DKK</span>
              </div>
            {% endif %}
            <div style="height: 20px"></div>
            <div class="space-between">
              <p>Taxes (26%)</p><span id="tax">{{ taxes }} DKK</span>
            </div>
          </div>

          <div class="space-between total-row">
            <p>TOTAL</p><span id="all">{{ tot }} DKK</span>
          </div>
          <div style="height: 30px"></div>
          {{ form.submit(id="submit-button") }}
          
        </div>
        <div id="cupon">
          <h2>Got a cupon?</h2>
          <form action="" method="post" novalidate>
            {{ cupon_form.code() }}
            {{ cupon_form.submit(id="submit-button2") }}
          </form>
          
          
        </div>
      </div>
    </div>
  </form>
  <script src="/static/js/cart.js"></script>
{% endblock %}
