{% extends "base.html" %}

{% block content %}
  <link rel="stylesheet" href="/static/css/cart.css">
  <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <div class="space-between">
      <div>
        <h2>CART</h2>
        <table>
          <tbody>
            {% for cart_item, q in items %}
              {% with item = cart_item.get_item() %}
              {% include '_cartItem.html' %} 
              {% endwith %}
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div>
        <div id="summary">
          <h2>SUMMARY</h2>
          <div class="gray">
            <div class="space-between">
              <p>Subtotal</p><span>{{ total }} DKK</span>
            </div>
            <div style="height: 15px"></div>
            <div class="space-between">
              <p>Estimated Delivery Charge</p><span>{{delivery}} DKK</span>
            </div>
            <div style="height: 15px"></div>
            <div class="space-between">
              <p>Taxes (26%)</p><span>{{ taxes }} DKK</span>
            </div>
          </div>
          <div style="height: 30px"></div>
          <div class="space-between">
            <p>TOTAL</p><span>{{ total+taxes+delivery }} DKK</span>
          </div>
          <div style="height: 30px"></div>
          {{ form.submit(id="submit-button") }}
          
        </div>
      </div>
    </div>
  </form>
{% endblock %}
